/*
=============================================== A. Main Background Pattern ===============================================
*/
/* optional patterns: background.png, background-pattern2.png, background-pattern3.png, background-pattern4.png, background-pattern4.png, background-pattern5.png, background-pattern6.png */
body {background-image: url(../images/background.png);}


/*
=============================================== B. Main Highlight Colors - Blue ===============================================
*/
a, body h1, h1 a:hover , h2 a:hover , h3 a:hover , h4 a:hover , h5 a:hover , h6 a:hover, .button-colored, .caption-padding .button-colored,
body.dark h1 a:hover , body.dark h2 a:hover , body.dark h3 a:hover , body.dark h4 a:hover , body.dark h5 a:hover , body.dark h6 a:hover,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, h1 span a, h2 span a, h3 span a, h4 span a, h5 span a, h6 span a,
.sf-menu li.current a, .sf-menu li.sfHover li.current a, .sf-menu li.sfHover li.sfHover li.current a, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu li a:hover,
.sf-menu li.sfHover li.sfHover li.sfHover li.current a, .sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.current a, 
.sf-menu li.sfHover a, .sf-menu li.sfHover li a:hover, .sf-menu li.sfHover li.sfHover a, .sf-menu li.sfHover li.sfHover li a:hover, .sf-menu li.sfHover li.sfHover li.sfHover a,
.sf-menu li.sfHover li.sfHover li.sfHover li a:hover, .sf-menu li.sfHover li.sfHover li.sfHover li.sfHover a, .sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li a:hover 
{color:#4ab1d3;} /* Default - #4ab1d3 */
.button-colored, .caption-padding .button-colored, a.button-colored:hover, #contactform .button-colored:hover 
{border-color:#4ab1d3; background-color:#4ab1d3; }  /* Default - #4ab1d3 */


/*
=============================================== C. Secondary Highlight Color - Orange Text ===============================================
*/
#topannounce, .button, .caption-padding .button, #topannounce a { color:#996633;} /* Default - #996633 */

/*
=============================================== D. Secondary Highlight Color - Orange Background ===============================================
*/
#topannounce, .button, .caption-padding .button, #topannounce a { background-color:#fec64c;} /* Default - #fec64c */


/*
=============================================== E. Main Width Adjustments ===============================================
*/
#topannounce #announce-container, #reset-announcement-container, #footer-container {width:825px; } /* Width of Top Announcement Bar and Footer */
#content { width:692px; } /* Add 32px of padding to the width so default is actually 500 = 532 */
aside {width:312px;} /* Add 32px of padding to the width so default is actually 260 = 292 */
#main, #main-base  {width:1090px;} /* Container for the two Colums - Add 66px to width of aside and #content.  532 + 292 + 66 = 890 */

/*
=============================================== E. Height Width Adjustments ===============================================
*/
.content-padding-title {padding:20px 0 0 20px;}
/*
=============================================== Link Colors ===============================================================
*/

h1 a:hover { text-decoration: none; color: #D2D2D2;}
.title { text-decoration: none; color:#4AB1D3;}
a.backlink {font-size: 20px; line-height: 32px; margin-bottom: 7px; margin-top: 7px;}

#sidebar-container .tagcloud {padding-top: 20px;}
#sidebar-container .tagcloud a { margin-top: 4px; padding: 6px 8px 4px 6px; }
.tags a, #sidebar-container .tagcloud a { background: none repeat scroll 0 0 #FFFFFF; border-radius: 4px 4px 4px 4px; color: #4AB1D3; display: inline-block; margin: 2px; padding: 2px 6px; }

.disabled a:hover {text-decoration:none;} /* Default link:hover*/
ul, ol { margin-left: 0; margin-bottom:20px; }