<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}



  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="{{ resource.meta.charset }}">
  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  {% block css %}
  <link rel="stylesheet" href="{{ media_url('stylesheets/skeleton.css') }}">
  <link rel="stylesheet" href="{{ media_url('stylesheets/layout.css') }}">
  <link rel="stylesheet" href="{{ media_url('stylesheets/base.css') }}">
  <link rel="stylesheet" href="{{ media_url('stylesheets/additions.css') }}">
  {% endblock css %}

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="apple-touch-icon" href="{{ media_url('images/apple-touch-icon.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ media_url('images/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ media_url('images/apple-touch-icon-114x114.png') }}">


  {% block headjs %}
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
  <div class="container">
      {% block container %}
        {% block sidebar %}
          {% include "sidebar.j2" %}
        {% endblock sidebar %}
        <div class="eleven columns offset-by-one content">
            {% block main %}
            {% endblock main %} 
            {% block footer %}
            {% include "footer.j2" %}
            {% endblock footer %}
        </div>                             
        {% endblock container %}
  </div>
  {% endblock content%}
  {% block jquery %}
  {% endblock jquery %}
  {% block js %}
  <!-- end scripts-->


  {% block scripts %}
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="{{ media_url('javascripts/tabs.js') }}"></script>
  {% endblock scripts %}


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>
</html>