<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}



  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="{{ resource.meta.charset }}">
  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  {% block css %}
  <link rel="stylesheet" href="{{ media_url('stylesheets/skeleton.css') }}">
  <link rel="stylesheet" href="{{ media_url('stylesheets/layout.css') }}">
  <link rel="stylesheet" href="{{ media_url('stylesheets/base.css') }}">
  <link rel="stylesheet" href="{{ media_url('stylesheets/additions.css') }}">
  <link rel="stylesheet" href="{{ media_url('stylesheets/github.css') }}">
  {% endblock css %}

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ media_url('favicon.ico') }}">

  {% block headjs %}
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
  <div class="container">
      {% block container %}
        <div class="eleven columns offset-by-one content">
            {% block main %}
            {% endblock main %} 
            {% block footer %}
            {% include "footer.j2" %}
            {% endblock footer %}
        </div>                             
         {% block sidebar %}
          {% include "sidebar.j2" %}
        {% endblock sidebar %}
        {% endblock container %}
  </div>
  {% endblock content%}
  {% block jquery %}
  {% endblock jquery %}
  {% block js %}
  <!-- end scripts-->


  {% block scripts %}
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="{{ media_url('javascripts/tabs.js') }}"></script>
  <script src="{{ media_url('javascripts/highlight.pack.js') }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="{{ media_url('javascripts/jquery.tagcloud.js') }}"></script>
  {% endblock scripts %}


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  <script type="text/javascript">
  $(function () {
    $('.tagcloud a').tagcloud();
  });
  $.fn.tagcloud.defaults = {
    size: {start: 10, end: 24, unit: 'pt'},
    color: {start: '#999', end: '#111'}
  };

  </script>
  <script type="text/javascript">
  var disqus_shortname = 'makewhatis';

  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>
  {% endblock js %}
  {% block analytics %}
    {% if site.config.mode == "production" %}
    <!-- Piwik -->
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.fhlabs.com/" : "http://piwik.fhlabs.com/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://piwik.fhlabs.com/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->
  {% endif %}
  {% endblock analytics %}
</body>
</html>