{% extends "base.j2" %}
{% block main -%}
<div class="content-padding">
    <a class="backlink" href={{ content_url(resource.prev_by_time.url) }}><-back</a>
    <div class="content-padding-title">
        <h2 class="title">
            <a href="{{ content_url(resource.url) }}">
                {{ resource.meta.title }}
            </a>
        </h2>
    </div>
    <div class="post-details">
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
        Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
    </time>
    in categories &nbsp; 
    {% if resource.meta.tags %}      
            {% for tag in resource.meta.tags %}
                <a class="small" href="{{ content_url('posts/tags/'~tag~'.html') }}">
                {{ tag }}
                </a>
            {% endfor %}
    {% endif %}
</div>
<div class="content-padding">
    {% filter markdown|typogrify -%}
        {% mark post -%}
            {% block post -%}
            {%- endblock %}
        {%- endmark %}
    {%- endfilter %}
</div>

{%- endblock %}