{% extends "base.j2" %}
{% block main -%}
    <h3>{{ resource.meta.title }}</h3>
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    {{ resource.meta.created.strftime('%a, %d %b %Y') }}
    </time><br />
    Posted in &nbsp; 
    {% if resource.meta.tags %}      
            {% for tag in resource.meta.tags %}
                <a class="small" href="{{ content_url('category/'~tag~'.html') }}">
                {{ tag }}
                </a>&nbsp;
            {% endfor %}
    {% endif %}
    {% filter markdown|typogrify -%}
        {% mark post -%}
            {% block post -%}
            {%- endblock %}
        {%- endmark %}
    {%- endfilter %}
{% include "disqus.j2" %}
{%- endblock %}