{% extends "base.j2" %}
{% block main -%}
<div class="content-padding">
    <div class="content-padding-title">
        <h2 class="title">
            <a href="{{ content_url(resource.url) }}">
                {{ resource.meta.title }}
            </a>
        </h2>
    </div>
    <div class="post-details">
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
        Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
    </time>
    in categories &nbsp; 
    {% if resource.meta.tags %}      
            {% for tag in resource.meta.tags %}
                <a class="small" href="{{ content_url('posts/tags/'~tag~'.html') }}">
                {{ tag }}
                </a>&nbsp;
            {% endfor %}
    {% endif %}
</div>
<div class="content-padding">
    {% filter markdown|typogrify -%}
        {% mark post -%}
            {% block post -%}
            {%- endblock %}
        {%- endmark %}
    {%- endfilter %}
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'makewhatis'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{%- endblock %}