{% extends "base.j2" %}
{% block main -%}
    {% for res in resource.page.posts %}
        <ul class="excerpt">
            {% from "macros.j2" import render_excerpt with context  %}
                {{ render_excerpt(res) }}
        </ul>
    {% endfor %}
    <nav class="pagination">
    {% if resource.page.previous %}
        <a class="prev" href="{{ content_url(resource.page.previous.resource.url) }}">
            Newer
        </a>
    {% endif %}
    {% if resource.page.next %}
        <a class="next" href="{{ content_url(resource.page.next.resource.url) }}">
            Older
        </a>
    {% endif %}
    </nav>
{%- endblock %}