{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<div class="content-padding">
    <div class="content-padding-title">
        <h2 class="title">
            <a href="{{ content_url(res.url) }}">
                {{ res.meta.title }}
            </a>
        </h2>
    </div>
    <div class="post-details">
    <time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
        Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
    </time>
    in categories &nbsp; 
    {% if res.meta.tags %}      
            {% for tag in res.meta.tags %}
                <a class="small" href="{{ content_url('category/'~tag~'.html') }}">
                {{ tag }}
                </a>&nbsp; 
            {% endfor %}
    {% endif %}
    {{ post.excerpt|markdown|typogrify }}
    <a class="button white medium" href="{{ content_url(res.url) }}">Read more</a>
    </div>
</div>
{% endmacro %}

{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav>
    <ul 
    class="{{ cls|join(' ')}}">
        {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% else -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url)) -%}
        {%- endif %}
        {% do classes.append('current') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        <li >
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                href="{{ content_url(item.url) }}">
                {{ item.name }}
            </a>
        </li>
        {%- endfor %}
    </ul>
    <div class="clearfix"></div>
    <div id="navigation-base"></div>
</nav>
{%- endif %}
{%- endmacro %}