{% extends "base.j2" %}
{% block main -%}
    <h2 class="title">
        <a href="{{ content_url(resource.url) }}">
            {{ resource.meta.title }}
        </a>
    </h2>
    <p>{{ resource.meta.content}} </p>
{%- endblock %}