{% extends "base.j2" %}

{% block main %}
    <h2 class="tag title">{{ tag.name }}</h1>
    <ul class="excerpt">
    {% from "macros.j2" import render_excerpt with context  %}
    {% for res in walker() %}
        {{ render_excerpt(res) }}
    {% endfor %}
    </ul>
{% endblock %}
